$badge-icon_width: 231px !default;
$badge-icon_width-large: 296px !default;

$badge-special_width: 283px !default;

$badge-medium_width: 116px !default;
$badge-medium_height: $badge-medium_width * 1.2 !default; // aspect ratio
$badge-medium_width-large: 174px !default;
$badge-medium_height-large: $badge-medium_width-large * 1.2 !default; // aspect ratio

$badge-small_width: 84px !default;
$badge-small_height: $badge-small_width !default;
$badge-small_spacingHorizontal: $badge-small_width / 14 !default; // ratio for spacings
$badge-small_spacingVertical: $badge-small_width / 10.5 !default;

$badge-small_width-large: 130px !default;
$badge-small_height-large: $badge-small_width-large !default;
$badge-small_spacingHorizontal-large: $badge-small_width-large / 14 !default; // ratio for spacings
$badge-small_spacingVertical-large: $badge-small_width-large / 10.5 !default;

// Medium size variant
//
.badge-medium {
	background: url(../images/badges/medium/Badge-Medium-Fill-secondary.svg) no-repeat;
	background-size: cover;
	width: $badge-medium_width;
	height: $badge-medium_height;
	color: $white;
	transform: scale(1);
	transition: transform 300ms ease-in-out;
	-webkit-font-smoothing: antialiased;
	display: block;

	// Default variant with filled circle and filled doplphin
	&.is-accent2 {background-image: url(../images/badges/medium/Badge-Medium-Fill-accent2.svg);}
	&.is-accent3 {background-image: url(../images/badges/medium/Badge-Medium-Fill-accent3.svg);}
	&.is-primary {background-image: url(../images/badges/medium/Badge-Medium-Fill-primary.svg);}
	&.is-accent1 {background-image: url(../images/badges/medium/Badge-Medium-Fill-accent1.svg);
		&,
		&:hover{
			color: $accent1;
		}
	}

	// Variant with outline circle and filled doplphin
	&.is-outline {
		background-image: url(../images/badges/medium/Badge-Medium-Outline-secondary.svg);
		&.is-accent2 {background-image: url(../images/badges/medium/Badge-Medium-Outline-accent2.svg);}
		&.is-accent3 {background-image: url(../images/badges/medium/Badge-Medium-Outline-accent3.svg);}
		&.is-primary {background-image: url(../images/badges/medium/Badge-Medium-Outline-primary.svg);}
		&.is-accent1 {background-image: url(../images/badges/medium/Badge-Medium-Outline-accent1.svg);}
		
		&,&:hover {color: $secondary}
		&.is-accent2 {&,&:hover {color: $accent3}}
		&.is-accent3 {&,&:hover {color: $accent2}}
		&.is-primary {&,&:hover {color: $primary}}
		&.is-accent1 {&,&:hover {color: $accent1}}

		// nested badge not possible for outline font-variant
		.badge--nestedBadge {
			display: none;
		}
	}
	
	// Variant with filled circle and outline doplphin
	&.is-outline-fill {
		background-image: url(../images/badges/medium/Badge-Medium-Fill-Outline-secondary.svg);
		&.is-accent2 {background-image: url(../images/badges/medium/Badge-Medium-Fill-Outline-accent2.svg);}
		&.is-accent3 {background-image: url(../images/badges/medium/Badge-Medium-Fill-Outline-accent3.svg);}
		&.is-primary {background-image: url(../images/badges/medium/Badge-Medium-Fill-Outline-primary.svg);}
		&.is-accent1 {background-image: url(../images/badges/medium/Badge-Medium-Fill-Outline-accent1.svg);}

		.badge--title {
    		margin-top: 11px;
    	}
	}

	// large variant of medium size font-variant
	// TO DO : replace .teaser class with TeaserHero and TeaserHeroHoteldetail class
	// wrapped into media query because large badge is not visible on small devices
	@media (min-width: 990px) {
		&.is-large,
		.teaser & {
			width: $badge-medium_width-large;
			height: $badge-medium_height-large;
			.badge--container {
				padding-top: 72px;
			}
			.badge--title {
				letter-spacing: 2px;
    			font-size: 30px;
    			line-height: 36px;
    			min-height: 72px;
			}
			// Cutting badge-small spacings
			.badge--nestedBadge {
    			width: $badge-small_width-large - ($badge-small_spacingHorizontal-large * 2);
    			height: $badge-small_height-large - ($badge-small_spacingVertical-large * 2);
    			overflow: hidden;
    			top: -17px;
			}
			.badge--nestedBadgeImg {
				width: $badge-small_width-large;
				height: $badge-small_height-large;
				position: relative;
				top: -$badge-small_spacingVertical-large;
				left: -$badge-small_spacingHorizontal-large;
			}
		}
	}

	// Add hover effect when link is set
	&.has-link {
		cursor: pointer;
		&:hover {
			transform: scale(1.1);
			text-decoration: none;
			color: $white;
		}
	}
	.badge--container {
		padding: 47px 9px 10px 6px;
		font-family: $font-family-accent;
		text-align: center;
		word-break: break-word;
		display: flex;
		justify-content: center;
	}

	.badge--title {
		text-transform: uppercase;
		letter-spacing: 1px;
    	font-size: 24px;
    	line-height: 24px;
    	display: flex;
    	min-height: 48px;
    	justify-content: center;
    	align-items: center;
	}
	// Cutting badge-small spacings
	.badge--nestedBadge {
    	width: $badge-small_width - ($badge-small_spacingHorizontal * 2);
    	height: $badge-small_height - ($badge-small_spacingVertical * 2);
    	overflow: hidden;
    	position: relative;
    	top: -9px;
	}
	.badge--nestedBadgeImg {
		width: $badge-small_width;
		height: $badge-small_height;
		position: relative;
		top: -$badge-small_spacingVertical;
		left: -$badge-small_spacingHorizontal;
	}
}

// Base large badge styles
//
.badge-large {
	color: $white;
	transform: scale(1);
	transition: transform 300ms ease-in-out;
	-webkit-font-smoothing: antialiased;
	display: block;
	
	&.has-link {
		cursor: pointer;
		&:hover {
			transform: scale(1.1);
			text-decoration: none;
			color: $white;
		}
	}

	&.has-badge {
		// hide everything in large badge on small devices except of nested badge
		@media (max-width: 989px) {
			background-image: none !important; // hide background image for all variants
		}
		> *:not(.badge--nested):not(.badge--container) {
			@media (max-width: 989px) {
				display: none;
			}
		}
	}
	
	// wrapped into media query because large badge is not visible on small devices
	@media (min-width: 990px) {
		.badge--container {
			padding: 47px 20px 10px;
			font-family: $font-family-accent;
			text-align: center;
			word-break: break-word;
		}
	
		.badge--title {
			text-transform: uppercase;
			letter-spacing: 2px;
    		font-size: 30px;
    		line-height: 36px;
    		margin-bottom: 5px;
		}
	
		.badge--copy {
			ul {
				margin: 0;
				padding: 0;
				display: flex;
				flex-wrap: wrap;
    			justify-content: center;
				color: $black;
				list-style: none;
			}
			li {
				margin: 0 10px;
    			font-size: 20px;
    			line-height: 28px;
				position: relative;
				&:last-child {
					margin-right: 0;
				}
				&:before {
					content: "•";
					position: absolute;
					left: -13px;
    				top: 0px;
					font-size: 12px;
				}
			}
		}
	
		.badge--addon {
			position: absolute;
    		right: 22px;
    		top: 13px;
    		font-size: 29px;
		}

		// Cutting badge-small spacings
		.badge--nestedBadge {
    		width: $badge-small_width-large - ($badge-small_spacingHorizontal-large * 2);
    		height: $badge-small_height-large - ($badge-small_spacingVertical-large * 2);
    		overflow: hidden;
		}
		.badge--nestedBadgeImg {
			width: $badge-small_width-large;
			height: $badge-small_height-large;
			position: relative;
			top: -$badge-small_spacingVertical-large;
			left: -$badge-small_spacingHorizontal-large;
		}
	}
}

// Large badge with icon variant
//
.badge-icon {
	// wrapped into media query because large badge is not visible on small devices
	@media (min-width: 990px) {
		background: url(../images/badges/large/Badge-Large-Icon-secondary.svg) no-repeat;
		background-size: cover;
		width: $badge-icon_width;
		height: $badge-icon_width * 1.116;
	
		&.is-accent2 {background-image: url(../images/badges/large/Badge-Large-Icon-accent2.svg);}
		&.is-accent3 {background-image: url(../images/badges/large/Badge-Large-Icon-accent3.svg);}
		&.is-primary {background-image: url(../images/badges/large/Badge-Large-Icon-primary.svg);}
		&.is-accent1 {background-image: url(../images/badges/large/Badge-Large-Icon-accent1.svg);
			&,
			&:hover {
				color: darken($accent1,5%);
			}
		}


		&.has-much-text {
			width: $badge-icon_width-large;
			height: $badge-icon_width-large * 1.116;
			.badge--container {
				padding: 59px 30px 10px;
			}
			.badge--addon {
				right: 28px;
    			top: 16px;
    			font-size: 39px;
			}
			.badge--title {
    			font-size: 40px;
    			line-height: 47px;
    			min-height: 94px;
    			margin-bottom: 10px;
			}
			.badge--copy {
				ul {
					margin-top: -4px;
				}
			}
		}
	
		.badge--title {
    		min-height: 72px;
    		display: flex;
    		align-items: flex-end;
    		justify-content: center;
		}

		.badge--nestedBadge {
    		margin: 44px auto 0;
		}

		.badge--nestedBadgeImg {

		}
	}
}

// Large Badge with additional category text addon
//
.badge-special {
	@media (min-width: 990px) {
		background: url(../images/badges/large/Badge-Large-Special-secondary.svg) no-repeat; 
		background-size: cover;
		width: $badge-special_width;
		height: $badge-special_width * 1.15;
	
	
		&.is-accent2 {background-image: url(../images/badges/large/Badge-Large-Special-accent2.svg);}
		&.is-accent3 {background-image: url(../images/badges/large/Badge-Large-Special-accent3.svg);}
		&.is-primary {background-image: url(../images/badges/large/Badge-Large-Special-primary.svg);}
		&.is-accent1 {background-image: url(../images/badges/large/Badge-Large-Special-accent1.svg);  
			&,
			&:hover{
				color: darken($accent1,5%);
				.badge--addon {
					color: $white;
				}
			}  
		}
		
	
		.badge--container {
			padding: 138px 44px 10px 20px;
		}
	
		.badge--title {
			letter-spacing: 1px;
    		font-size: 24px;
    		line-height: 27px;
		}
	
		.badge--addon {
			right: 18px;
    		top: 23px;
    		width: 80px;
    		height: 55px;
    		font-size: 26px;
    		text-transform: uppercase;
    		font-family: $font-family-accent;
    		line-height: 25px;
    		display: flex;
    		align-items: center;
    		justify-content: center;
    		text-align: center;
		}
		.badge--nestedBadge {
    		margin: 3px auto 0;
		}
		.badge--nestedBadgeImg {

		}
	}
}

