$icomoon-font-family: "iconfont" !default;
$icomoon-font-path: "../fonts/iconfont/fonts" !default;

$icon-sorting: "\e929";
$icon-wlan: "\e945";
$icon-all-inclusive: "\e900";
$icon-animal: "\e93a";
$icon-arrow-down-thin: "\e889";
$icon-arrow-left-thin: "\e902";
$icon-arrow-right-thin: "\e904";
$icon-arrow-up-thin: "\f905";
$icon-baggage: "\e94a";
$icon-beach: "\e907";
$icon-bell: "\f908";
$icon-bus: "\f909";
$icon-calender: "\e908";
$icon-cevron-down: "\e901";
$icon-cevron-left: "\e903";
$icon-cevron-right: "\e905";
$icon-cevron-up: "\e906";
$icon-checkbox-mixed: "\f90f";
$icon-checkbox-off: "\e909";
$icon-checkbox-on: "\e90a";
$icon-childs: "\e912";
$icon-clock: "\e913";
$icon-close-solid: "\f90a";
$icon-close: "\e932";
$icon-cog: "\f916";
$icon-compass: "\f917";
$icon-copy: "\f918";
$icon-cycling: "\f919";
$icon-delete: "\f91a";
$icon-dislike: "\f91b";
$icon-diving: "\f91c";
$icon-dolphin: "\f91d";
$icon-drinks: "\f91f";
$icon-edit: "\e920";
$icon-entertainment: "\e921";
$icon-error: "\e922";
$icon-facebook: "\e90d";
$icon-family: "\f924";
$icon-gallery: "\e919";
$icon-gallery-solid: "\f907";
$icon-golf: "\e93c";
$icon-google-plus: "\e90f";
$icon-gourmet: "\e93b";
$icon-heart-outline: "\e910";
$icon-heart: "\e911";
$icon-hiking: "\e982";
$icon-holiday-check-half: "\e983";
$icon-holiday-check: "\e984";
$icon-hotel: "\e93f";
$icon-house: "\e986";
$icon-info: "\e987";
$icon-instagram: "\e914";
$icon-kiting: "\e989";
$icon-laundry: "\e98a";
$icon-like: "\e8dc";
$icon-link: "\e98c";
$icon-list: "\e98e";
$icon-loading: "\e98f";
$icon-mail-solid: "\e948";
$icon-mail: "\e991";
$icon-marker: "\e915";
$icon-menu: "\e916";
$icon-minus: "\e918";
$icon-mountain: "\e93e";
$icon-museum: "\e996";
$icon-newsletter: "\e997";
$icon-phone: "\e91b";
$icon-plane: "\e91c";
$icon-play-circle: "\e91d";
$icon-plus: "\e91f";
$icon-preferences: "\e99e";
$icon-quality: "\e99f";
$icon-question: "\e9a0";
$icon-radio-off: "\e923";
$icon-radio-on: "\e924";
$icon-resizer: "\e9a3";
$icon-sailing: "\e9a4";
$icon-search: "\e927";
$icon-service: "\e9a6";
$icon-share: "\e9a7";
$icon-speechbubble: "\e9ac";
$icon-sports: "\e92a";
$icon-star-half: "\e9af";
$icon-star-outline: "\e9b0";
$icon-star: "\e933";
$icon-success-circle: "\e9b2";
$icon-success: "\e92b";
$icon-swimming: "\e940";
$icon-switch-off: "\e9b5";
$icon-switch-on: "\e9b6";
$icon-tennis: "\e9b7";
$icon-themepark: "\e9b8";
$icon-twitter: "\e92d";
$icon-user: "\e92e";
$icon-traveltypes: "\e92c";
$icon-wellness: "\e92f";
$icon-youtube: "\e930";
$icon-childcare: "\e9c1";

